<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".jpg" mimeType="image/jpg" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
    </staticContent>
    <handlers>
      <add name="StaticFileHandler" path="*" verb="*" modules="StaticFileModule" resourceType="File" />
    </handlers>
  </system.webServer>
</configuration>
